pip install -U jaxlib==0.1.69+cuda111 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install -U jaxlib==0.1.69+cuda101 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install -U jaxlib==0.1.52+cuda101 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install -U jax==0.2.18 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install "jax[cuda10_local]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
pip install -U jaxlib==0.1.76+cuda11 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
if use GPU then the jaxlib will be requied to install automatelly(to subatitude jax)
同时jax 的pip安装也自动带了cuda的部分wheel

jax==0.2.18
jaxlib== 0.1.69

dataclasses==0.6
matplotlib==3.1.2
neural-tangents==0.3.3
numpy==1.17.4
scikit-learn==0.22
seaborn==0.10.1
tensorflow==2.2.0
tensorflow-datasets==3.0.0
tqdm==4.38.0

tensorflow==2.5.0
